*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
    height: 100vh;
    font-family: sans-serif;
}

#theaters {
    display: flex;
    justify-content: space-between;
}

#player-one, #player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand {
    display: flex;
    flex-direction: row;
}

#player-one .hand {
    margin-top: 2rem;
}

.air {
    background-color: #6E665B;
}

.land {
    background-color: #648139;
}

.sea {
    background-color: #3D778E;
}

.theater {
    --width: 16vw;
    --card-factor: 0.7;

    width: var(--width);
    height: calc(var(--width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    user-select: none;
}

.card {
    --width: 8vw;
    --card-factor: 1.4;
    
    position: relative;
    width: var(--width);
    height: calc(var(--width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    user-select: none;
}

.selected {
    top: -5px;
}

#description {
    margin-top: 1rem;
    height: 1rem;
}