*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --card-width: 80px;
    --card-factor: 1.4;
    --card-offset: 3rem;
    --theater-width: 160px;
    --theater-factor: 0.7;
}

body {
    background-color: #EFEFEF;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
    font-family: sans-serif;
}

/* Main Area */

#main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 800px;
}

.depot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.theater-container {
    display: flex;
    flex-direction: column;
}

.column {
    justify-content: flex-start;
    height: 100%;
}

#theaters {
    display: flex;
}

.discarded {
    top: calc(var(--card-width) / 2 * var(--card-factor));
    margin-top: calc(var(--card-width) * var(--card-factor) * -1);
}

/* Players */

#player-one, #player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-one-name {
    margin-top: 1rem;
}

#player-two-name {
    margin-bottom: 1rem;
}

.hand {
    display: flex;
    flex-direction: row;
    height: calc(var(--card-width) * var(--card-factor));
}

#player-one .hand {
    margin-top: 2rem;
    margin-left: var(--card-offset);
}

#player-two .hand {
    margin-left: 3rem;
}

.air {
    background-color: #6E665B;
}

.land {
    background-color: #648139;
}

.sea {
    background-color: #3D778E;
}

.facedown {
    background-color: #37342f;
}

.theater {
    width: var(--theater-width);
    height: calc(var(--theater-width) * var(--theater-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    user-select: none;
}

#player-one-column, #player-two-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-one-column {
    margin-top: -2rem;
}

#player-two-column {
    margin-top: -2rem;
}

#player-one-column .card:not(:first-of-type), #player-two-column .card:not(:first-of-type) {
    margin-top: -5rem;
}

.card {
    position: relative;
    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.hand .card {
    margin-left: calc(var(--card-offset) * -1);
}

.selected {
    top: -5px;
}

#description {
    margin-top: 2rem;
    height: 1rem;
}

.button {
    padding: 0.5rem 1rem;
}