*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --card-width: 8vw;
    --card-factor: 1.4;
    --theater-width: 16vw;
    --theater-factor: 0.7;
}

body {
    background-color: #EFEFEF;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
    height: 100vh;
    font-family: sans-serif;
}

#main-area {
    display: flex;
    justify-content: space-between;
}

#theaters {
    display: flex;
}

#discarded-cards {
    position: relative;
}

#player-one, #player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand {
    display: flex;
    flex-direction: row;
}

#player-one .hand {
    margin-top: 2rem;
    margin-left: 3rem;
}

#player-two .hand {
    margin-left: 3rem;
}

.air {
    background-color: #6E665B;
}

.land {
    background-color: #648139;
}

.sea {
    background-color: #3D778E;
}

.facedown {
    background-color: #37342f;
}

.theater {
    width: var(--theater-width);
    height: calc(var(--theater-width) * var(--theater-factor));
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    user-select: none;
}

#player-one-cards, #player-two-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-one-cards .card:not(:first-of-type), #player-two-cards .card:not(:first-of-type) {
    margin-top: -5rem;
}

.card {
    position: relative;
    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.hand .card {
    margin-left: -2.5rem;
}

.discarded {
    top: calc((8vw * 1.4) + 1rem);
    margin-top: calc(-8vw * 1.4);
}

.selected {
    top: -5px;
}

#description {
    margin-top: 2rem;
    height: 1rem;
}

.button {
    padding: 0.5rem 1rem;
}