.theater {
    width: var(--theater-width);
    height: calc(var(--theater-width) * var(--theater-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #efefef;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    user-select: none;
}

.card {
    position: relative;
    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #efefef;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.air {
    background-color: #6e665b;
}

.land {
    background-color: #648139;
}

.sea {
    background-color: #3d778e;
}

.facedown {
    background-color: #37342f;
}

.selected {
    top: -5px;
}
