.theater {
    width: var(--theater-width);
    height: calc(var(--theater-width) * var(--theater-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    user-select: none;
}

.card {
    position: relative;
    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-factor));
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #EFEFEF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

#player-one-column .card::after {
    content: attr(data-description);
    display: none;
    position: absolute;
    z-index: 10;
    padding: 0.25rem;
    width: 150px;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0.8);
}

#player-one-column .card:active::after {
    display: block;
}

.air {
    background-color: #6E665B;
}

.land {
    background-color: #648139;
}

.sea {
    background-color: #3D778E;
}

.facedown {
    background-color: #37342f;
}

.selected {
    top: -5px;
}