body {
    font-family: sans-serif;
    background-color: var(--color-bg);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
}
