#overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay-bg);
    z-index: 900;
}

#battle-winner {
    margin-bottom: 4rem;
    font-size: 2rem;
    color: var(--color-white);
}

#game-winner {
    display: none;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: var(--color-white);
}

#next-game {
    display: none;
}
