#overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay-bg);
    z-index: 900;
}

#battle-winner,
#game-winner {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--color-white);
}
