#player-one, #player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.button {
    padding: 0.5rem 1rem;
}

#description {
    margin-top: 2rem;
    height: 1rem;
}

.hand {
    display: flex;
    flex-direction: row;
    height: calc(var(--card-width) * var(--card-factor));
}

#player-one .hand {
    margin-top: 2rem;
    margin-left: var(--card-offset);
}

#player-two .hand {
    margin-left: 3rem;
}

.hand .card {
    margin-left: calc(var(--card-offset) * -1);
}

#player-one-name {
    margin-top: 1rem;
}

#player-two-name {
    margin-bottom: 1rem;
}

.active::before {
    content: "→";
    display: inline-block;
    margin-right: 0.25rem;
}