#main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 800px;
    transform: perspective(50px) rotateX(1deg);
}

.depot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.column {
    justify-content: flex-start;
    height: 100%;
}

.player-column,
.bot-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-column {
    min-height: calc(var(--card-width) * var(--card-factor));
}

.bot-column {
    min-height: calc(var(--card-width) * var(--card-factor));
    transform: rotate(180deg);
}

.player-column .card:not(:first-of-type),
.bot-column .card:not(:first-of-type) {
    margin-top: -5rem;
}

.theater-container {
    display: flex;
    flex-direction: column;
}

.discarded {
    top: calc(var(--card-width) / 2 * var(--card-factor));
    margin-top: calc(var(--card-width) * var(--card-factor) * -1);
}

.player-total,
.bot-total {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
    user-select: none;
}

.bonus {
    margin-left: 0.25rem;
}
