:root {
    --color-white: #ffffff;
    --color-off-white: #efefef;
    --color-black: #000000;
    --color-bg: #ffeecc;
    --color-air: #6e665b;
    --color-land: #648139;
    --color-sea: #3d778e;
    --color-facedown: #37342f;
    --color-glow: #996600;
    --color-overlay-bg: rgba(0, 0, 0, 0.8);
    --color-shadow: rgba(0, 0, 0, 0.25);
    --card-width: 80px;
    --card-factor: 1.4;
    --card-offset: 3rem;
    --theater-width: 160px;
    --theater-factor: 0.7;
}
